{% if include.type == 'defn' %}
  {% capture mytype %}definition{% endcapture %}
  {% assign myid = include.id | default: include.title | slugify | default: "definition-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
{% else %}
  {% if include.type == 'eg' %}
    {% capture mytype %}example{% endcapture %}
    {% assign myid = include.id | default: include.title | slugify | default: "example-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
    {% assign myblock = "example-block" %}
  {% else %}
    {% if include.type == 'eg1' %}
      {% capture mytype %}example{% endcapture %}
      {% assign myid = include.id | default: include.title | slugify | default: "example-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
      {% assign myblock = "example-block" %}
    {% else %}
      {% if include.type == 'lem' %}
        {% capture mytype %}lemma{% endcapture %}
        {% assign myid = include.id | default: include.title | slugify | default: "lemma-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
      {% else %}
        {% if include.type == 'claim' %}
          {% capture mytype %}claim{% endcapture %}
          {% assign myid = include.id | default: include.title | slugify | default: "claim-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
        {% else %}
          {% if include.type == 'prop' %}
            {% capture mytype %}proposition{% endcapture %}
            {% assign myid = include.id | default: include.title | slugify | default: "proposition-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
          {% else %}
            {% if include.type == 'thm' %}
              {% capture mytype %}theorem{% endcapture %}
              {% assign myid = include.id | default: include.title | slugify | default: "theorem-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
            {% else %}
              {% if include.type == 'hint' %}
                {% capture mytype %}hint{% endcapture %}
                {% assign myid = include.id | default: include.title | slugify | default: "hint-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
              {% else %}
                {% if include.type == 'watru' %}
                  {% capture mytype %}walkthrough{% endcapture %}
                  {% assign myid = include.id | default: include.title | slugify | default: "walkthrough-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                {% else %}
                  {% if include.type == 'pf' %}
                    {% capture mytype %}proof{% endcapture %}
                    {% assign myid = include.id | default: include.title | slugify | default: "proof-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                  {% else %}
                    {% if include.type == 'rk' %}
                      {% capture mytype %}remark{% endcapture %}
                      {% assign myid = include.id | default: include.title | slugify | default: "remark-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                    {% else %}
                      {% if include.type == 'rk1' %}
                        {% capture mytype %}remark{% endcapture %}
                        {% assign myid = include.id | default: include.title | slugify | default: "remark-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                      {% else %}
                        {% if include.type == 'prblm' %}
                          {% capture mytype %}problem{% endcapture %}
                          {% assign myid = include.id | default: include.title | slugify | default: "problem-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                        {% else %}
                          {% if include.type == 'soln' %}
                            {% capture mytype %}solution{% endcapture %}
                            {% assign myid = include.id | default: include.title | slugify | default: "solution-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                          {% else %}
                            {% if include.type == 'xca' %}
                              {% capture mytype %}exercise{% endcapture %}
                              {% assign myid = include.id | default: include.title | slugify | default: "exercise-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                            {% else %}
                              {% if include.type == 'bogus' %}
                                {% capture mytype %}bogus{% endcapture %}
                                {% assign myid = include.id | default: include.title | slugify | default: "bogus-" | append: page.url | slugify | append: "-" | append: forloop.index | slugify %}
                              {% else %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
<div class="{{ mytype }}-block" id="{{ myid }}">
  <span class="block-title"></span>
  <a class="anchor-link" href="#{{ myid }}" title="Link to this {{ mytype }}">🔗</a>
  {% if include.type == 'defn' %}
    {% capture myvar %}{{ include.content.defn }}{% endcapture %}
    {{ myvar | markdownify }}
  {% else %}
    {% if include.type == 'eg' %}
      {%- capture mycom -%}
      {{ include.com }}
      {%- endcapture -%}
      {%- capture mypr -%}
      {{ include.pr }}
      {%- endcapture -%}
      {% if include.title contains 'IOQM' or include.title contains 'RMO' or include.title contains 'INMO' %}
        {%- capture mylin -%}
        {%- if site.data.[include.com].[include.yr].source.qn -%}
          [{{ mycom | upcase }} {{ site.data.[include.com].[include.yr].source.yr }}]({{ site.data.[include.com].[include.yr].source.qn }}) 
          {%- else -%}
          {{ mycom | upcase }} {{ site.data.[include.com].[include.yr].source.yr }}
        {%- endif -%}
        {%- if site.data.[include.com].[include.yr].source.aops -%}
          {{ }} [{{ mypr | upcase }}]({{ site.data.[include.com].[include.yr].source.aops }})
          {%- else -%}
          {{ }} {{ mypr | upcase }}
        {%- endif -%}
        {%- if site.data.[include.com].[include.yr].[include.pr].aops -%}
          , [AoPS]({{ site.data.[include.com].[include.yr].[include.pr].aops }})
        {%- endif -%}
        {%- endcapture -%}
      {% endif %}
      {% if site.data.[include.com].[include.yr].[include.pr].supp %}
        {% capture mysupp %}{% for member in site.data.[include.com].[include.yr].[include.pr].supp %}{% if member.name %}, cf. {% endif %}{% if member.url %}[{{ member.name }}]({{ member.url }}){% else %}{{ member.name }}{% endif %}{% endfor %}{% endcapture %}
      {% endif %}
      {% capture myvar %}({{ mylin }}{{ mysupp }}) {{ site.data.[include.com].[include.yr].[include.pr].[include.type] }}{% endcapture %}
      {{ myvar | markdownify }}
    {% else %}
      {% if include.type == 'eg1' %}
        {% capture myvar %}{{ include.content.eg1 }}{% endcapture %}
        {{ myvar | markdownify }}
      {% else %}
        {% if include.type == 'lem' %}
          {% capture myvar %}{{ include.content.lem }}{% endcapture %}
          {{ myvar | markdownify }}
        {% else %}
          {% if include.type == 'claim' %}
            {% capture myvar %}{{ include.content.claim }}{% endcapture %}
            {{ myvar | markdownify }}
          {% else %}
            {% if include.type == 'prop' %}
              {% capture myvar %}{{ include.content.prop }}{% endcapture %}
              {{ myvar | markdownify }}
            {% else %}
              {% if include.type == 'thm' %}
                {% capture myvar %}{{ include.content.thm }}{% endcapture %}
                {{ myvar | markdownify }}
              {% else %}
                {% if include.type == 'hint' %}
                  {% capture myvar %}{{ include.content.hint }}{% endcapture %}
                  {{ myvar | markdownify }}
                {% else %}
                  {% if include.type == 'watru' %}
                    {%- capture myvar -%}{{ site.data.[include.com].[include.yr].[include.pr].watru }}{%- endcapture -%}
                      {%- details Click here for the spoiler! -%}
                      {{ myvar | markdownify }}
                      {%- enddetails -%}
                    {% if site.data.[include.com].[include.yr].[include.pr].img %}
                      <div class="row mt-3 text-center">
                      {% assign members = site.data[include.com][include.yr][include.pr].img %}
                        {% for member in members %}
                          {% if include.title contains 'IOQM' %}
                            {% assign mypath = member.path | prepend: 'assets/img/ioqm/' %}
                          {% else %}
                            {% if include.title contains 'RMO' %}
                              {% assign mypath = member.path | prepend: 'assets/img/rmo/' %}
                            {% else %}
                              {% if include.title contains 'INMO' %}
                                {% assign mypath = member.path | prepend: 'assets/img/inmo/' %}
                              {% else %}
                                {% assign mypath = member.path | prepend: 'assets/img/' %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          {%- capture myprno -%}{{ include.pr }}{%- endcapture -%}
                          {%- capture myprnoupcase -%}{{ myprno | upcase }}{%- endcapture -%}
                          {% if include.title contains 'IOQM' %}
                            {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr | prepend: " " | prepend: "IOQM" %}
                          {% else %}
                            {% if include.title contains 'RMO' %}
                              {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr | prepend: " " | prepend: "RMO" %}
                            {% else %}
                              {% if include.title contains 'IOQM' %}
                                {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr | prepend: " " | prepend: "INMO" %}
                              {% else %}
                                {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          {% assign watru_members = members | where: "ref", "watru" %}
                          {% assign count = watru_members | size %}
                          {% if watru_members.size > 0 %}
                            {% assign col_width = 12 | divided_by: count %}
                            {% assign mycap = "Fig " | append: forloop.index | append: ": " | append: mycap %}
                            {% if count == 1 %}
                              {% if member.ref == 'watru' %}
                              <div class="col-sm mt-3 mt-md-0 d-flex justify-content-center">
                                  <div style="width:70%;">
                                      {% include figure.liquid 
                                          loading="eager" 
                                          path=mypath 
                                          class="img-fluid rounded z-depth-1" 
                                          width="100%" 
                                          caption=mycap 
                                          zoomable=member.zoomable 
                                      %}
                                  </div>
                              </div>
                              {% endif %}
                            {% else %}
                              {% if member.ref == 'watru' %}
                              <div class="col-md-{{ col_width }} mt-3 mt-md-0 d-flex justify-content-center">
                                <div style="width:70%;">
                                  {% include figure.liquid loading="eager" path=mypath class="img-fluid rounded z-depth-1" width="100%" caption=mycap zoomable='member.zoomable' %}
                                </div>
                              </div>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% else %}
                    {% if include.type == 'pf' %}
                      {% details Click here for the spoiler! %}
                      {%- capture myvar -%}{{ include.content.pf }}{%- endcapture -%}
                      {{ myvar | markdownify }}
                      {% enddetails %}
                    {% else %}
                      {% if include.type == 'rk' %}
                        {% capture myvar %}{{ include.content.rk }}{% endcapture %}
                        {{ myvar | markdownify }}
                      {% else %}
                        {% if include.type == 'rk1' %}
                          {% capture myvar %}{{ include.content.rk1 }}{% endcapture %}
                          {{ myvar | markdownify }}
                        {% else %}
                          {% if include.type == 'prblm' %}
                            {% capture myvar %}{{ include.content.prblm }}{% endcapture %}
                            {{ myvar | markdownify }}
                          {% else %}
                            {% if include.type == 'soln' %}
                              {%- capture myvar -%}{{ site.data.[include.com].[include.yr].[include.pr].soln }}{%- endcapture -%}
                              {%- details Click here for the spoiler! -%}
                              {{ myvar | markdownify }}
                              {%- enddetails -%}
                              {% if site.data.[include.com].[include.yr].[include.pr].img %}
                                <div class="row mt-3 text-center">
                                {% assign members = site.data[include.com][include.yr][include.pr].img %}
                                  {% for member in members %}
                                    {% if include.title contains 'IOQM' %}
                                      {% assign mypath = member.path | prepend: 'assets/img/ioqm/' %}
                                    {% else %}
                                      {% if include.title contains 'RMO' %}
                                        {% assign mypath = member.path | prepend: 'assets/img/rmo/' %}
                                      {% else %}
                                        {% if include.title contains 'INMO' %}
                                          {% assign mypath = member.path | prepend: 'assets/img/inmo/' %}
                                        {% else %}
                                          {% assign mypath = member.path | prepend: 'assets/img/' %}
                                        {% endif %}
                                      {% endif %}
                                    {% endif %}
                                    {%- capture myprno -%}{{ include.pr }}{%- endcapture -%}
                                    {%- capture myprnoupcase -%}{{ myprno | upcase }}{%- endcapture -%}
                                    {% if include.title contains 'IOQM' %}
                                      {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr | prepend: " " | prepend: "IOQM" %}
                                    {% else %}
                                      {% if include.title contains 'RMO' %}
                                        {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr | prepend: " " | prepend: "RMO" %}
                                      {% else %}
                                        {% if include.title contains 'IOQM' %}
                                          {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr | prepend: " " | prepend: "INMO" %}
                                        {% else %}
                                          {% assign mycap = member.caption | default: "" | prepend: myprnoupcase | prepend: " " | prepend: site.data.[include.com].[include.yr].source.yr %}
                                        {% endif %}
                                      {% endif %}
                                    {% endif %}
                                    {% assign solution_members = members | where: "ref", "soln" %}
                                    {% assign count = solution_members | size %}
                                    {% if solution_members.size > 0 %}
                                      {% assign col_width = 12 | divided_by: count %}
                                      {% assign mycap = "Fig " | append: forloop.index | append: ": " | append: mycap %}
                                      {% if count == 1 %}
                                        {% if member.ref == 'soln' %}
                                        <div class="col-sm mt-3 mt-md-0 d-flex justify-content-center">
                                            <div style="width:70%;">
                                                {% include figure.liquid 
                                                    loading="eager" 
                                                    path=mypath 
                                                    class="img-fluid rounded z-depth-1" 
                                                    width="100%" 
                                                    caption=mycap 
                                                    zoomable=member.zoomable 
                                                %}
                                            </div>
                                        </div>
                                        {% endif %}
                                      {% else %}
                                        {% if member.ref == 'soln' %}
                                        <div class="col-md-{{ col_width }} mt-3 mt-md-0 d-flex justify-content-center">
                                          <div style="width:70%;">
                                            {% include figure.liquid loading="eager" path=mypath class="img-fluid rounded z-depth-1" width="100%" caption=mycap zoomable='member.zoomable' %}
                                          </div>
                                        </div>
                                        {% endif %}
                                      {% endif %}
                                    {% endif %}
                                  {% endfor %}
                                </div>
                              {% endif %}
                            {% else %}
                              {% if include.type == 'xca' %}
                                {% capture myvar %}{{ include.content.xca }}{% endcapture %}
                                {{ myvar | markdownify }}
                              {% else %}
                                {% if include.type == 'bogus' %}
                                  {% capture myvar %}{{ include.content.bogus }}{% endcapture %}
                                  {{ myvar | markdownify }}
                                {% else %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>